<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="http://www.w3.org/1999/xlink">
    <title>Dapple Park</title>
</head>

<body>
    <header>
        <div id="f-header">
            <div class="link-row container">
                <a href="" style="color: white; text-decoration:underline;"><i>#Hoteline Number</i></a>
            </div>
            <div class="container pt-3">
                <div class="row">
                    <div class="col-lg-6 col-md-2"></div>
                    <div class="col-lg-2 col-md-3 col-5">
                        <select id="combo">
                            <option value="">Flag/English/USD</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-1 col-md-1 col-2 main-content">
                        <a href="./login.html" style="padding-bottom:20px;">Login</a>
                    </div>
                    <div class="col-lg-1 col-md-2 col-3 main-content">
                        <a href="./registration.html">Sign Up</a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-2">
                        <a href=""><i class="far fa-list-alt fa-2x" style="color: blanchedalmond;"></i>
                        </a>
                        <a href="" class="pl-2"><i class="fab fa-facebook" style="color: rgb(33,150,243);"></i>
                        </a>
                        <a href="" class="pl-2">
                            <i class="fab fa-facebook-messenger" style="color: rgb(33,150,243);"></i>
                        </a>
                        <a href="" class="pl-2">
                            <i class="fas fa-comment-dots" style="color: rgb(33,150,243);"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="s-header" class=" mt-4">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-6 col-12">
                    <div class="form-inline">
                        <form class="flum">
                            <input class="search-control" type="search">
                            <button class="btnsearch"><img src="../assets/img/search.jpg" height="25px"
                                    width="auto"></button>
                        </form>
                        <i class="fas fa-cart-plus pl-lg-4 pl-2 fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="t-header" class="mt-4">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-4">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="my-lg-4 dropdown-item" href="./clothingdetail.html">Clothing</a>
                            <a class="my-lg-4 dropdown-item" href="#">Fashion And Accessories</a>
                            <a class="my-lg-4 dropdown-item" href="#">Footwear And Leather Goods</a>
                            <a class="my-lg-4 dropdown-item" href="#">Gromming And Beauty Care</a>
                            <a class="my-lg-4 dropdown-item" href="#">Health And Fitness</a>
                            <a class="my-lg-4 dropdown-item" href="#">Home And Living</a>
                            <a class="my-lg-4 dropdown-item" href="#">Books And CDs</a>
                            <a class="my-lg-4 dropdown-item" href="#">Gift Corner</a>
                            <a class="my-lg-4 dropdown-item" href="#">Sports</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-3">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Deals
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="./deals.html">Deal 1</a>            
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-2">
                    <a href="./blog.html" class="combo">Blogs</a>
                </div>
                <div class="col-lg-1 col-md-1 col-1">
                    <a href="./brand.html" class="combo">Brands</a>
                </div>
               
            </div>
        </div>

    </header>
    <main>
        <section class="home-section mt-4" id="slidernext">
            <div class="container">
                <div class="about-us" style="padding: 50px 0;">
                    <div class="text-center">
                        <span class="display-5"><b>Main Banner</b></span>
                    </div>
                    <div class="container">
                        <div class="container mt-5">
                            <div id="carousel-example-one" class="carousel slide" data-ride="carousel">
                                <div class="row">
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-prev" href="#carousel-example-one" role="button"
                                            data-slide="prev">
                                            <img src="../assets/img/left-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-7 col-md-8">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Main Banner.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-next" href="#carousel-example-one" role="button"
                                            data-slide="next">
                                            <img src="../assets/img/right-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-2 col-md-2">
                                        <a class="paview" type="button">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section mt-4" id="slidernext">
            <div class="container">
                <div class="about-us" style="padding: 50px 0;">
                    <div class="text-center">
                        <span class="display-5"><b>Men's</b></span>
                    </div>
                    <div class="container">
                        <div class="container mt-5">
                            <div id="carousel-example-two" class="carousel slide" data-ride="carousel">
                                <div class="row">
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-prev" href="#carousel-example-two" role="button"
                                            data-slide="prev">
                                            <img src="../assets/img/left-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-7 col-md-8">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Jackets.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Jackets.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Jackets.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Jackets.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Mens's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Mens's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Mens's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Mens's.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Jackets.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Jackets.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Jackets.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Jackets.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-next" href="#carousel-example-two" role="button"
                                            data-slide="next">
                                            <img src="../assets/img/right-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-2 col-md-2">
                                        <a class="paview" href="./clothingmen.html" type="button">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section mt-4" id="slidernext">
            <div class="container">
                <div class="about-us" style="padding: 50px 0;">
                    <div class="text-center">
                        <span class="display-5"><b>Women's</b></span>
                    </div>
                    <div class="container">
                        <div class="container mt-5">
                            <div id="carousel-example-three" class="carousel slide" data-ride="carousel">
                                <div class="row">
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-prev" href="#carousel-example-three" role="button"
                                            data-slide="prev">
                                            <img src="../assets/img/left-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-7 col-md-8">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/womens.jpeg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-next" href="#carousel-example-three" role="button"
                                            data-slide="next">
                                            <img src="../assets/img/right-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-2 col-md-2">
                                        <a class="paview" href="./womenclothing.html" type="button">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section mt-4" id="slidernext">
            <div class="container">
                <div class="about-us" style="padding: 50px 0;">
                    <div class="text-center">
                        <span class="display-5"><b>New Born's</b></span>
                    </div>
                    <div class="container">
                        <div class="container mt-5">
                            <div id="carousel-example-four" class="carousel slide" data-ride="carousel">
                                <div class="row">
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-prev" href="#carousel-example-four" role="button"
                                            data-slide="prev">
                                            <img src="../assets/img/left-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-7 col-md-8">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-next" href="#carousel-example-four" role="button"
                                            data-slide="next">
                                            <img src="../assets/img/right-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-2 col-md-2">
                                        <a class="paview" href="./newbornclothing.html" type="button">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section mt-4" id="slidernext">
            <div class="container">
                <div class="about-us" style="padding: 50px 0;">
                    <div class="text-center">
                        <span class="display-5"><b>Boy's</b></span>
                    </div>
                    <div class="container">
                        <div class="container mt-5">
                            <div id="carousel-example-five" class="carousel slide" data-ride="carousel">
                                <div class="row">
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-prev" href="#carousel-example-five" role="button"
                                            data-slide="prev">
                                            <img src="../assets/img/left-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-7 col-md-8">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/punjabiboy.jpeg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-next" href="#carousel-example-five" role="button"
                                            data-slide="next">
                                            <img src="../assets/img/right-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-2 col-md-2">
                                        <a class="paview" href="./boysclothing.html" type="button">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section mt-4" id="slidernext">
            <div class="container">
                <div class="about-us" style="padding: 50px 0;">
                    <div class="text-center">
                        <span class="display-5"><b>Girl's</b></span>
                    </div>
                    <div class="container">
                        <div class="container mt-5">
                            <div id="carousel-example-six" class="carousel slide" data-ride="carousel">
                                <div class="row">
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-prev" href="#carousel-example-six" role="button"
                                            data-slide="prev">
                                            <img src="../assets/img/left-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-7 col-md-8">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                                                        <img src="../assets/img/Kid's.jpg" class="viewsize">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-1 col-md-1">
                                        <a class="carousel-control-next" href="#carousel-example-six" role="button"
                                            data-slide="next">
                                            <img src="../assets/img/right-arrow-line-symbol.png" height="30px" width="auto">
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-2 col-md-2">
                                        <a class="paview" href="./girlsclothing.html" type="button">View More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer style="padding-bottom: 50px;">

    </footer>
    <script src="../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous">
    </script>
    <script src="../assets/js/script.js"></script>
</body>

</html>