<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Jersey</title>
    <link rel="stylesheet" href="./../assets/css/bootstrap.css">
    <link rel="stylesheet" href="./../assets/css/nav.css">
    <link rel="stylesheet" href="./../assets/css/team-jersey.css">

</head>
<body>
    <header>
        <div id="f-header">
            <div class="link-row container">
                <a href="" style="color: white; text-decoration:underline;"><i>#Hoteline Number</i></a>
            </div>
            <div class="container pt-3">
                <div class="row">
                    <div class="col-lg-6 col-md-2"></div>
                    <div class="col-lg-2 col-md-3 col-5">
                        <select id="combo">
                            <option value="">Flag/English/USD</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-1 col-md-1 col-2 main-content">
                        <a href="./login.html" style="padding-bottom:20px;">Login</a>
                    </div>
                    <div class="col-lg-1 col-md-2 col-3 main-content">
                        <a href="./registration.html">Sign Up</a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-2">
                        <a href=""><i class="far fa-list-alt fa-2x" style="color: blanchedalmond;"></i>
                        </a>
                        <a href="" class="pl-2"><i class="fab fa-facebook" style="color: rgb(33,150,243);"></i>
                        </a>
                        <a href="" class="pl-2">
                            <i class="fab fa-facebook-messenger" style="color: rgb(33,150,243);"></i>
                        </a>
                        <a href="" class="pl-2">
                            <i class="fas fa-comment-dots" style="color: rgb(33,150,243);"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="s-header" class=" mt-4">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-6 col-12">
                    <div class="form-inline">
                        <form class="flum">
                            <input class="search-control" type="search">
                            <button class="btnsearch"><img src="../assets/img/search.jpg" height="25px"
                                    width="auto"></button>
                        </form>
                        <i class="fas fa-cart-plus pl-lg-4 pl-2 fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="t-header" class="mt-4">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-4">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="my-lg-4 dropdown-item" href="#">Clothing</a>
                            <a class="my-lg-4 dropdown-item" href="#">Fashion And Accessories</a>
                            <a class="my-lg-4 dropdown-item" href="#">Footwear And Leather Goods</a>
                            <a class="my-lg-4 dropdown-item" href="#">Gromming And Beauty Care</a>
                            <a class="my-lg-4 dropdown-item" href="#">Health And Fitness</a>
                            <a class="my-lg-4 dropdown-item" href="#">Home And Living</a>
                            <a class="my-lg-4 dropdown-item" href="#">Books And CDs</a>
                            <a class="my-lg-4 dropdown-item" href="#">Gift Corner</a>
                            <a class="my-lg-4 dropdown-item" href="#">Sports</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-3">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Deals
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="./deals.html">Deal 1</a>            
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-2">
                    <a href="./blog.html" class="combo">Blogs</a>
                </div>
                <div class="col-lg-1 col-md-1 col-1">
                    <a href="./brand.html" class="combo">Brands</a>
                </div>
               
            </div>
        </div>

    </header>
    <main>
        <section>
            <div id="back-logo" style="text-align: center; margin-top: 20px;" >
               <a href=""><img src="./../assets/img/circleleft.jpg" alt="" width="50px"> </a> 
  
                <h4 style="margin-top: 20px; color: rgb(135,135,135);"><i>Team Jersey</i></h4>
            </div>

            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                       <a href=""><img src="../assets/img/shirt-1.jpg" class="photosize"></a> 
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                       <a href=""><img src="../assets/img/shirt-2.jpg" class="photosize"></a> 
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                        <a href=""><img src="../assets/img/shirt-3.jpg" class="photosize"></a>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                        <a href=""><img src="../assets/img/shirt-4.jpg" class="photosize"></a>
                    </div> 
                </div>

                <div class="row mt-5">
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                       <a href=""><img src="../assets/img/shirt-1.jpg" class="photosize"></a> 
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                       <a href=""><img src="../assets/img/shirt-2.jpg" class="photosize"></a> 
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                        <a href=""><img src="../assets/img/shirt-3.jpg" class="photosize"></a>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                        <a href=""><img src="../assets/img/shirt-4.jpg" class="photosize"></a>
                    </div> 
                </div>

                <div class="row mt-5">
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                       <a href=""><img src="../assets/img/shirt-1.jpg" class="photosize"></a> 
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                       <a href=""><img src="../assets/img/shirt-2.jpg" class="photosize"></a> 
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                        <a href=""><img src="../assets/img/shirt-3.jpg" class="photosize"></a>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                        <a href=""><img src="../assets/img/shirt-4.jpg" class="photosize"></a>
                    </div> 
                </div>

                <div class="row mt-5">
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                       <a href=""><img src="../assets/img/shirt-1.jpg" class="photosize"></a> 
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                       <a href=""><img src="../assets/img/shirt-2.jpg" class="photosize"></a> 
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                        <a href=""><img src="../assets/img/shirt-3.jpg" class="photosize"></a>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-3 col-md-3">
                        <a href=""><img src="../assets/img/shirt-4.jpg" class="photosize"></a>
                    </div> 
                </div>

                <div id="jump">
                    <nav aria-label="Page navigation example" >
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </main>
    
</body>
<script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="./../assets/js/popper.min.js"></script>
<script src="./../assets/js/bootstrap.min.js"></script>
<!-- ICON LINK -->
<script src="https://kit.fontawesome.com/ef03c7fd35.js" crossorigin="anonymous"></script>
</html>


